{% block content %}
	<p>{{ _("Hello", language) }} {{ employee_name }},</p>

	<p>{{ _("The following Time Captures are still in draft status:", language) }}</p>

	{% if time_captures_per_employee %}
		<ul>
			{% for tc in time_captures_per_employee %}
				<li><a href="{{ frappe.utils.get_url_to_form('Time Capture', tc.name) }}">{{ tc.date }}</a></li>
			{% endfor %}
		</ul>

		<p style="margin-top: 1rem;">
			<a href="/app/time-capture?docstatus=0&employee={{ time_captures_per_employee[0].employee }}">{{ _("Go to list view", language) }}</a>
		</p>

		<p>{{ _("Please review and submit the pending Time Captures.", language) }}</p>
	{% endif %}
{% endblock %}
